.form {
  display: flex;
  flex-direction: column;
  margin: 0.5rem auto;
  width: fit-content;
}
.form * + * {
  margin-top: 0.5rem;
}

.form div * + * {
  margin-left: 0.3rem;
}
.form input,
.form textarea {
  outline: 2px solid transparent;
  outline-offset: 2px;
  background-color: rgb(148, 163, 184, 0.1);
  border-radius: 0.125rem;
  border: none;
  padding: 1rem 1.5rem;
  color: rgb(107 114 128);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.form input:focus,
.form textarea:focus {
  border-bottom: 0.1px solid rgba(255, 255, 255, 0.4);
  color: rgba(255, 255, 255, 0.8);
}
.form input:hover,
.form textarea:hover {
  border-bottom: 0.1px solid rgba(255, 255, 255, 0.4);
}

.form button {
  background-color: rgb(25, 118, 210, 0.5);
  color: white;
  padding: 1.25rem 2.5rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 800;
  font-size: 0.9rem;
}

@media (max-width: 520px) {
  .form {
    width: 20rem;
  }
  .form div {
    display: flex;
    flex-direction: column;
  }
  .form div * + * {
    margin-left: 0;
  }
}
@media (max-width: 400px) {
  .form {
    width: 90%;
  }
}
